{% extends "base.html" %}
{% load static from staticfiles %}

{% block mains %}
    <div class="header header-filter" style="background-image: url('{% static "img/bg2.jpeg" %}');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="brand">
                        <h1>Аналітичний розділ</h1>
                        <h3>Тут зібрані всі відомості</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="section section-basic">
            <div class="container-fluid ov">
                <div class="title text-center">
                    <h1>Аналіз депозитного портфеля</h1>
                </div>
                <div class="row">
                    <div class="col-md-9 col-md-offset-2">
                        <table class="table" id="depostable">
                            <thead>
                            <tr>
                                <th>Депозитний портфель</th>
                                <th>Кредитний портфель</th>
                                <th>За період</th>
                                <th>Різниця</th>
                                <th>Висновок</th>
                                <th>Прогноз</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for dif in difs %}
                                <tr>
                                    <td>{{ dif.depos }}</td>
                                    <td>{{ dif.creds }}</td>
                                    <td>{{ dif.date|date:"o F" }}</td>
                                    <td {% if dif.df > 0 %} class="success"{% else %}
                                                            class="danger"{% endif %}>{{ dif.df|floatformat }}</td>
                                    <td>{{ dif.dc }}
                                        <span class="explain">{{ dif.explain }}</span>
                                    </td>
                                    <td {% if dif.pr > 0 %} class="success"{% else %}
                                                            class="danger"{% endif %}>{{ dif.pr|floatformat }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="section section-basic">
            <div class="container ov">
                <div class="title text-center">
                    <h1>Аналіз депозитного портфеля за тривалістю депозитних договорів</h1>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Тривалість</th>
                                <th>Сума тривалістю</th>
                                <th>Висновок</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for k, v in duration.items %}
                                <tr>
                                    <td>{{ k }}</td>
                                    <td>{{ v }}</td>
                                    <td>{{ dur_dec }}
                                        <span class="explain">{{ dur_expl }} Сума 6\3 - {{ suma_duration63 }}</span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div id='table_div'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="section section-basic">
            <div class="container ov">
                <div class="title text-center">
                    <h1>Аналіз депозитного портфеля за типами клієнтів</h1>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Клієнти</th>
                                <th>Сума за типом клієнта</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for tk, tv in types.items %}
                                <tr>
                                    <td>{{ tk }}</td>
                                    <td>{{ tv }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="info">
                                <td>{{ t_suma }}
                                    <span class="explain"> Сума фіз. і юр. осіб</span>
                                </td>
                                <td>{{ t_dec }}
                                    <span class="explain">{{ t_expl }}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}