{% extends "base.html" %}
{% load static from staticfiles %}

{% load crispy_forms_tags %}

{% block mains %}
    <div class="section section-full-screen section-signup header-filter"
         style="background-image: url('{% static "img/city.jpg" %}');
                 background-size: cover; background-position: top center; min-height: 700px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="card card-signup">
                        <form action="{% url "report_del" object.id %}" method="post" class="form">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{% url "home" %}"/>
                            <div class="header header-primary text-center">
                                <h4>Ви дійсно хочете видалити звіт "{{ object }}"?</h4>
                            </div>
                            <div class="footer text-center">
                                <input type="submit" class="btn btn-raised btn-primary" value="Так">
                                <a href="{% url "report" %}"
                                   class="btn btn-raised btn-info btn-wd">Ні</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}